body {
  background-color: #f2f2f2;
  font-size: 1.25rem;
  line-height: 1.5;
}
* {
  margin: 0px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  margin-top: 0em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
/*background-color: yellow;*/
  height: 100px;
}
.header .blog-title {
  margin-left: 50px;
/*background-color: red;*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.header .blog-title .logo {
  width: 60px;
  height: 60px;
/*border: 1px solid #368CCB;*/
  border-radius: 15px;
}
.header .blog-title .title {
  margin-left: 20px;
  color: #aaa;
  font-size: 2em;
  text-decoration: none;
}
.header .blog-title .title:hover {
  color: #368ccb;
}
.header .navbar {
  margin-right: 50px;
}
.header .menu {
  margin: 0;
  padding: 0;
/*background-color: green;*/
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
#footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #000;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  color: #fff;
  font-size: 16px;
}
#footer a {
  color: #008000;
  text-decoration: none;
}
#footer a:hover {
  color: #368ccb;
}
.page-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.extend {
  color: #008000;
}
.extend:hover {
  color: #368ccb;
}
.page-number {
  margin-left: 15px;
  margin-right: 15px;
}
.page-number {
  color: #008000;
}
.page-number:hover {
  color: #368ccb;
}
.current {
  color: #368ccb;
}
.article-entry pre,
.article-entry .highlight {
  background: #f00;
  margin: 20px 0px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  overflow: auto;
  color: #c5c8c6;
  font-size: 0.9em;
  line-height: 1em;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
figure.highlight::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
figure.highlight::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}
figure.highlight::-webkit-scrollbar-track {
/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0);
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: rgba(208,211,248,0.2);
  color: #444;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #969896;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.article-entry .highlight .gutter pre {
  color: #aaa;
  text-align: right;
  padding-right: 15px;
}
.article-entry .highlight .line {
  height: 1.7em;
  line-height: 1.7em;
}
.article-entry .highlight .line.marked {
  background: #373b41;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  background: #1d1f21;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #1d1f21;
  color: #969896;
  font: 0.85em -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #0e83cd;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #969896;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c66;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #de935f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #b5bd68;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #b5bd68;
}
pre .css .hexcolor {
  color: #8abeb7;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #81a2be;
}
pre .keyword,
pre .javascript .function {
  color: #b294bb;
}
.posts .post:first-child {
  margin-top: 20;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #008000;
  text-decoration: none;
}
.posts .post-title .post-title-link:hover {
  color: #368ccb;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
.posts .post-meta .read-more-link {
  color: #008000;
  text-decoration: none;
}
.posts .post-meta .read-more-link:hover {
  color: #368ccb;
}
.post {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 30px 50px;
/*background-color: #fff;*/
  border-bottom: 1px dashed #aaa;
/*border-radius: 20px;*/
/*box-shadow: 0 0 4px #ddd;*/
}
.content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.article {
  margin-top: 10px;
  margin-left: 50px;
  max-width: 100%;
/*background-color: #fff;*/
/*border: 1px solid #ddd;*/
/*border-radius: 20px;*/
/*box-shadow: 0 0 4px #ddd; */
  width: 75%;
  color: #ccc;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  color: #008000;
  font-weight: bold;
}
.article-title {
  color: #00f;
}
.article-meta {
  color: #008000;
}
.article-content {
  color: #808080;
}
.article-content img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.headerlink {
  color: #f00;
}
figure {
  background-color: #1d1f21;
  padding: 20px;
  overflow: auto;
}
#toc-sidebar {
  position: fixed;
  display: inline;
  width: 25%;
  float: left;
  margin-left: 80%;
  font-size: 14px;
}
.toc-article {
  position: absolute;
  border-left: rgba(88,88,88,0.1) 1px solid;
  margin: 50px 0;
  padding: 1em 1em 0 1em;
}
.nav-link {
  color: #aaa;
  padding: 1px !important;
  text-decoration: none;
}
.nav-link:hover {
  color: #368ccb;
}
.archive-year-wrap {
/*background-color: yellow;*/
  margin-left: 100px;
  margin-bottom: 1em;
}
.archive-year-wrap h1 {
  font-size: 46px;
}
.archive-year {
  color: #fb6d19;
}
.archive-year:before {
  margin-right: 0.2em;
}
.archive-post-date {
  margin-left: 150px;
  min-width: 85px;
  color: #aaa;
  text-decoration: none;
  line-height: 1.6em;
  margin-right: 15px;
  font-size: 20px;
}
.archive-post-title {
  text-decoration: none;
  color: #008000;
  font-size: 20px;
  border-left: 1px solid #008000;
  padding-left: 15px;
}
.archive-post-title:hover {
  color: #368ccb;
}
